@import "../../shared/shared.scss";

:host {
    width: 100%;
}
.triangle {
    height: 100%;
    width: 100%;
    position: relative;
    &-svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
    &-path {
        transform: translate(27%, 15%);
    }
}
.triangle-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 30px;
}
.empty-circle {
    @include circle-color(hsl(237, 49%, 15%), hsl(237, 49%, 15%));
    top: calc(0px - 50px);
    right: calc(0px - 23px);
}
.emp-coord {
    top: calc(0px - 50px);
    right: calc(0px - 23px);
}
