<div class="triangle" *ngIf="!clicked">
    <svg width="220" height="194.01" xmlns="http://www.w3.org/2000/svg">
        <path
            stroke="#000"
            stroke-width="15"
            fill="none"
            opacity=".2"
            d="M50 182.07 135.24 15.3H-39.29z"
            transform="translate(50,-5)"
        />
    </svg>

    <div>
        <div
            *ngFor="let el of arr"
            class="{{ el['value'] }} absolute"
            (click)="chooseGesture(el['id'])"
        >
            <div class="white-circle">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    attr.width="{{ el['dim'][0] }}"
                    attr.height="{{ el['dim'][1] }}"
                >
                    <path fill="#3B4262" attr.d="{{ el['dim'][2] }}" />
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="cont" *ngIf="clicked">
    <div class="playground">
        <div class="picked">YOU PICKED</div>
        <div class="picked">THE HOUSE PICKED</div>
        <div class="inner-cont">
            <div class="{{ class }} bounce">
                <div class="white-circle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        [attr.width]="choosen_width"
                        [attr.height]="choosen_height"
                    >
                        <path fill="#3B4262" [attr.d]="choosen_d" />
                    </svg>
                    <div class="outline-large" *ngIf="showComp"></div>
                    <div class="outline-medium" *ngIf="showComp"></div>
                    <div class="outline-small" *ngIf="showComp"></div>
                </div>
            </div>
        </div>
        <div class="empty-circle bounce" *ngIf="!showComp"></div>
        <div class="{{ compchoosen }} emp-coord" *ngIf="showComp">
            <div class="white-circle">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    [attr.width]="compchoosenDim[0]"
                    [attr.height]="compchoosenDim[1]"
                >
                    <path fill="#3B4262" [attr.d]="compchoosenDim[2]" />
                </svg>
            </div>
        </div>
    </div>
    <div class="outcome-message" *ngIf="showComp">
        <div class="outcome">{{ outcome }}</div>
        <button class="restart" (click)="restart()">PLAY AGAIN</button>
    </div>
</div>
