.container {
    font-family: "Barlow Semi Condensed", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 375px;
    background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    height: 100vh;
    padding: 20px;
    gap: 20%;
}