<div class="container">
    <!-- <svg
        *ngIf="!started"
        class="svg"
        xmlns="http://www.w3.org/2000/svg"
        width="329"
        height="313"
    >
        <path
            class="svg-path"
            fill="none"
            stroke="#000"
            stroke-width="15"
            d="M109.266 18.138L9.26 122.06l41.414 127.758h133.651L217.74 122.06 109.266 18.138z"
            opacity=".2"
        />
    </svg> -->
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="329"
        height="313"
        *ngIf="!started"
        class="svg"
    >
        <path
            [ngClass]="{ 'svg-path': !isMinWidth768 }"
            fill="none"
            stroke="#000"
            stroke-width="15"
            attr.d="{{ pent_d }}"
            opacity=".2"
        />
    </svg>
    <div class="grid-container" *ngIf="!started">
        <div
            *ngFor="let el of arr"
            class="{{ el['value'] }} absolute "
            [ngClass]="{
                'grid-span': el['id'] === 0,
                'justify-start': el['id'] === 1,
                'justify-end': el['id'] === 2
            }"
            (click)="chooseSign(el['id'])"
        >
            <div class="white-circle">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    attr.width="{{ el['dim'][0] }}"
                    attr.height="{{ el['dim'][1] }}"
                >
                    <path fill="#3B4262" attr.d="{{ el['dim'][2] }}" />
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="cont" *ngIf="started">
    <div class="playground-grid">
        <div class="picked">YOU PICKED</div>
        <div class="picked">THE HOUSE PICKED</div>
        <div class="inner-cont">
            <div class="{{ sign }} bounce center">
                <div class="white-circle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        [attr.width]="choosen_width"
                        [attr.height]="choosen_height"
                    >
                        <path fill="#3B4262" [attr.d]="choosen_d" />
                    </svg>
                    <div class="outline-large" *ngIf="showComp"></div>
                    <div class="outline-medium" *ngIf="showComp"></div>
                    <div class="outline-small" *ngIf="showComp"></div>
                </div>
            </div>
        </div>
        <div class="empty-circle bounce" *ngIf="!showComp"></div>
        <div
            class="{{ compChoosenSign }} emp-coord"
            *ngIf="showComp"
            [ngClass]="{
                'justify-center': compChoosenSign === 'paper',
                'justify-center': compChoosenSign === 'scissors'
            }"
        >
            <div class="white-circle">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    [attr.width]="compChoosenSignDim[0]"
                    [attr.height]="compChoosenSignDim[1]"
                >
                    <path fill="#3B4262" [attr.d]="compChoosenSignDim[2]" />
                </svg>
            </div>
        </div>
    </div>
    <div class="outcome-message" *ngIf="showComp">
        <div class="outcome">{{ outcome }}</div>
        <button class="restart" (click)="restart()">PLAY AGAIN</button>
    </div>
</div>
