@import "../../shared/shared.scss";
:host {
    width: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    &-path {
        transform: translate(50px, 40px);
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.5fr;
    min-width: 300px;
    grid-row-gap: 10px;
}

.paper.justify-center {
    justify-self: center;
}
.justify-start {
    justify-self: flex-start;
}
.justify-end {
    justify-self: flex-end;
}
.justify-center {
    justify-self: center;
}
.scissors.justify-center {
    justify-self: center;
}
.lizard {
    @include circle-color(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    align-self: center;
}
.spock {
    @include circle-color(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    align-self: center;
}
.center {
    justify-items: center;
}
